@import "../../../default-imports.scss";

.dashboard-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  height: var(--header-height);
  background-color: #343a40;
}

.header-center {
  height: 100%; 
  .tabs-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%; 

    li {
      height: 100%; 

      a {
        height: 100%;
        display: flex; 
        align-items: center; 
        padding: 0 20px; 
        color: #f8f9fa;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $primary-hover-1; 
          color: $neutral-2;
        }

        &.active {
          background-color: $primary-1; 
          color: $neutral-2;
        }
      }
    }
  }
}