@import "../../variables.module.scss";

.accordion-container {
  width: 100%;
  margin-bottom: 14px;

  .details {
    .summary {
      list-style: none;
      border-bottom: 1px solid $grey-1;

      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $neutral-1;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 2px;

      &::-webkit-details-marker {
        display: none; /* Remove a seta no Safari */
      }
    }

    .children {
      margin-top: 16px;
      line-height: 20px;
      width: 100%;

      & > p {
        font-size: 16px;
      }
    }

    &[open] .summary {
      border-bottom: none;
    } 

    &[open] .is-open-line {
      border-bottom: 1px solid $grey-1;
      margin-top: 24px;
    } 
  } 
}

@media screen and (max: 756px) {
  .accordion-container {
    .details {
      .children {
        margin-top: 16px;
        line-height: 18px;
        width: 100%;
      }
    }
  }
}
