@import "../../default-imports.scss";

#privacy-policy {
  overflow: hidden;

  .paragraph-line-height {
    line-height: 1.6;
  }

  .col-3.filters {
    @include media-breakpoint-down(lg) {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

