@import "../../default-imports.scss";

#dashboardhome {
  overflow: hidden;

//-------------------STYLE ATUAL------------------//
    
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $neutral-1;
  }

  header {
    padding: 21px;
    background: #EFEFEF;
    color: $neutral-1;
    font-size: 20px;
    font-family: var(--font-ibm_plex_sans_devanagari);
  }
  
  .sidenav {
    width: 281px;
    background: #EFEFEF;
    position: absolute;
    height: 95vh;
    padding: 0 10px;
    left: -100%;
    transition: all 1s;
  }

  .sidenav.active {
    left: 0;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style-type: none;
  }

  a {
    color: $neutral-1;
  }

  a:hover,
  a:active {
    color: blue;
  }

  .paragrafo {
    color: $neutral-1;
    font-size: 20px;
    display: block;
    border-radius: 4px;
  }


}

