@import "../../../variables.module";

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    display: none;
  }
}

.group-wrap {
  flex-wrap: wrap;
}
