@import "./variables.module.scss";

.text-primary-1 {
  color: $primary-1;
}

.text-neutral-1 {
  color: $neutral-1;
}

.text-grey-1 {
  color: $grey-1;
}

.text-grey-2 {
  color: $grey-2;
}

.text-neutral-2 {
  color: $neutral-2;
}

.text-blue-1 {
  color: #006699;
}

/* =============================================== */
/* THEME VARIABLES                                 */
/* =============================================== */

// --- Colors ---
$sidebar-bg:               #212121;
$text-primary:             #e0e0e0;
$text-secondary:           #a0a0a0;
$border-color:             #212121;
$divider-color:            #333333; // For borders between items
$interactive-hover-bg:     #333333;
$interactive-hover-text:   #ffffff;
$accent-color:             #4caf50; // For active states

// --- Spacing & Sizing ---
$base-padding:               16px;
$nav-item-vertical-padding:  18px;
$icon-button-size:           28px;
$help-icon-size:             24px; // More specific size for the '?' icon

// --- Borders ---
$help-icon-border-width:   1.5px;

// --- Typography ---
$base-font-size:           1em;
$header-font-size:         1.2em; // For larger text like the chevron
$header-title-font-size:   1.1em; // For the "Patient's dentition" title