@import "./variables.module.scss";

.text-primary-1 {
  color: $primary-1;
}

.text-neutral-1 {
  color: $neutral-1;
}

.text-grey-1 {
  color: $grey-1;
}

.text-grey-2 {
  color: $grey-2;
}

.text-neutral-2 {
  color: $neutral-2;
}

.text-blue-1 {
  color: #006699;
}

// -- Colors SideBarMenu
$sidebar-bg: #212121;
$text-primary: #e0e0e0;
$text-secondary: #a0a0a0;
$border-color: #333;
$border-color-strong: #444;
$interactive-hover-bg: #333;
$interactive-hover-text: #fff;
$accent-color: #4caf50; // Accent for active states

// -- Spacing & Sizing
$base-padding: 16px;
$icon-button-size: 28px;
$header-font-size: 1.2em;
$base-font-size: 1em;