@import "../../../../default-imports.scss";

.btn-copy {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  background-color: $neutral-1;
  border: none;
  color: $neutral-2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
