.patients-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: blanchedalmond;
    padding: 0.25rem;

    .patients-title {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text-color-primary);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: var(--primary-blue);
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
  }